/* COLOR SCHEME 
    Namen gegenereerd door "https://colornamer.robertcooper.me/"
 - Nero = #252525
 - Fiord = #4C5D64
 - Wave Jumper = #6C909E
 - Saratoga = #5B5929
 - Lime Slice = #F0FBED
*/

:root {
    --c-nero: #252525;
    --c-fiord: #4C5D64;
    --c-wave-jumper: #6C909E;
    --c-saratoga: #5B5929;
    --c-lime-slice: #F0FBED;
}



#gifjanco {
    display: flex;
    align-items: center;
    justify-content: center;
}