
@media (max-width: 1080px) {

}
@media (max-width: 900px) {


}


.knopJa,.knopNee{

    background-color: var(--c-fiord);
    color: var(--c-lime-slice);


}



.cover {
    width: 27vw;
    height: auto;
    min-width: 210px;
    min-height: auto;

}