<%- include('header') %>

<div class="flex-grow-1 flex-shrink-0 ">
    <div class="container1">
        <!-- HIER KOMT DE CONTENT VAN DE PAGINA -->
        <div class="d-flex justify-content-center align-middle">
            <div class="text-center position-absolute top-50 start-50 translate-middle ">
                <h1>403: <strong>you</strong> have no power here </h1>
                <br>
                <div>
                    <img class="gif mx-auto d-block col-md-11 " src="/img/403_page/tenor.gif">
                </div>
            </div>
        </div>
    </div>

<%- include('footer') %>