<%- include('header') %>

<div class="d-flex flex-column">
    <div class="ring"></div>
    <div class="flex-grow-1 flex-shrink-0  d-flex justify-content-center">
        <div class="container text-center text-center position-absolute top-50 start-50 translate-middle">
            <!-- HIER KOMT DE CONTENT VAN DE PAGINA -->
            <p class="fs-1"><b>404 PAGE NOT FOUND</b></p>
            <iframe src="https://giphy.com/embed/FPjbHO0jJxGsE" frameBorder="0" allowFullScreen></iframe>
        </div>
    </div>
</div>

<%- include('footer') %>