<%- include('header') %>

<div class="flex-grow-1 flex-shrink-0">
    <div class="vertical-center">
        <div class="container">
            <!-- HIER KOMT DE CONTENT VAN DE PAGINA -->
            <div class="row">
                <h1 class="text-center fs-1 col-12 ">De quiz werd afgerond </h1>
                <h2 class="text-center fs-1 col-12">De behaalde score is</h2>
                <div class="text-center fs-1 col-12" id="score">
                    0/0
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const scoretext = document.querySelector("#score");
    var allcookies = document.cookie;

    cookiearray = allcookies.split(";");

    for (var i = 0; i < cookiearray.length; i++) {
        key = cookiearray[i].split("=")[0];
        value = cookiearray[i].split("=")[1];

        if (key.trim() == "score") {
            scoreCookie = value.split("/");
            score = scoreCookie[0];
            outOf = scoreCookie[1];
            scoretext.innerHTML = value;
        }
    }

    document.cookie = "score=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
</script>

<%- include('footer') %>