<%- include('header') %>

<div class="flex-grow-1 flex-shrink-0">
    <div class="container">
        <!-- HIER KOMT DE CONTENT VAN DE PAGINA -->
        <div class="row d-flex justify-content-around mt-5 fs-1">
            <div class="option lbtn col-lg-5 col-m-5 col-sm-12 fn" onclick="window.location.href='/verificationfn'">
                <div class="img"></div>
                fortnite
            </div>
            <div class="option lbtn col-lg-5 col-m-5 col-sm-12 ff" onclick="window.location.href='/verificationff'">
                <div class="img"></div>
                fifa
            </div>
            <div class="option lbtn col-lg-5 col-m-5 col-sm-12 lr" onclick="window.location.href='/verificationlr'">
                <div class="img"></div>
                LOTR
            </div>
            <div class="option lbtn col-lg-5 col-m-5 col-sm-12 lg" onclick="window.location.href='verificationlg'">
                <div class="img"></div>
                lego
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>