
<script src="./js/validation.js"></script>
<%- include('header') %>
    <div class="flex-grow-1 flex-shrink-0">
        <div class="container">
            <!-- HIER KOMT DE CONTENT VAN DE PAGINA -->
            <div class="row mt-4">
                <h3 class="text-center">Om dit spel te spelen moet je jou gegevens verifiëren</h3>
            </div>

            <div class="row col-lg-3 col-md-9 col-sm-12 mx-auto form mt-5 pt-5">
                <form method="GET" action="/game">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="fs-4" for="inputEmail4">Naam</label>
                            <input type="text" class="form-control " id="type" placeholder="Naam" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="fs-4" for="inputPassword4">Voornaam</label>
                            <input type="text" class="form-control" id="type" placeholder="Voornaam" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="fs-4" for="inputAddress">Boekingnummer</label>
                        <input type="text" class=" form-control" id="type" placeholder="ABC123" required
                            oninput="validateBookingNumber(this)">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="fs-4" for="vertrek">vertrek datum</label>
                        <input type="date" class="form-control" id="inputDepartureDate" required
                            oninput="validateDate(this)">
                    </div>
                    <div class="form-group col-md-12">

                        <label class="fs-4" for="inputCity">eind datum</label>
                        <input type="date" class="form-control" id="inputEndDate" required oninput="validateDate(this)">

                    </div>

                    <div class="btn-group mt-4" role="group" aria-label="Basic example">
                        <a href="/index" class="btn btn-secondary">back</a>
                        <!-- <a href="/gamepage.html" class="btn btn-outline-dark">send!</a> -->
                        <input type="submit" class="form-control btn btn-outline-dark">
                    </div>

                </form>
            </div>
        </div>
    </div>